version: '3'

services:
    jekyll:
        image: jekyll/jekyll:latest
        command: jekyll serve --watch --force_polling
        ports:
            - 80:4000
        volumes:
            - .:/srv/jekyll