{% comment %}
<!--
 v1.2.110 _includes/alert.html 

include alert.html text = [string] icon = [string] scheme = [string]
incude alert.html datasource = [collection] scheme = [string]
incude alert.html datasource = [dataset] scheme = [string]
-->
{% endcomment %}

{% assign schema = site.data.schema.alert[include.schema] %}
{% unless schema %}
{% assign schema = site.data.schema.alert[page.schema] %}
{% endunless %}

{% assign text = include.text %}
{% assign icon = include.icon %}
{% unless text %}

{% assign datasource = include.datasource %}
{% assign text = datasource.title %}
{% endunless %}

{% assign count = count | plus: 1 %}

{% unless text %}
{% include error.html message = "_include/navbar.html no text specified" %}
{% endunless %}

<section id = "alert{{ count }}" class = "{{ schema.section }}" role="alert">
{% if icon %}<i class = "{{ icon }}" ></i>
{% elsif schema.icon %}<i class = "{{ schema.icon }}"></i>
{% endif %}
{{ text }}
{% if schema.section contains "dismiss" %}<button type="button" class = "btn-close" data-bs-dismiss="alert" aria-label="Close"></button>{% endif %}
</section>

