{% comment %}
<!-- v1.00 _includes/alert.html -->
{% endcomment %}

{% assign message = include.message %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data.alert.default %}
{% endunless %}

{% assign icon = include.icon %}
{% unless icon %}
{% assign icon = theme.icon %}
{% endunless %}

{% assign section = include.section %}
{% assign container = include.container %}

{% if message %}

<section class="{{ section }}" >
    {% if container %}<div id="container" class="{{ container }}">{% endif %}
        <div class="{{ theme.class }}" role="alert">
        {% if icon %} <i class="{{ icon }}"></i>{% endif %}
        {{ message }}
        {% if theme.class contains "dismiss" %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% endif %}
        </div>
    {% if container %}</div>{% endif %}
</section>

{% endif %}