{% comment %}
<!-- v1.00 _includes/blog01.html -->
{% endcomment %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection  = paginator.posts %}
{% endunless %}
{% unless collection %}
{% assign collection = site.posts %}
{% endunless %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign options = include.hidden | split:"," %}
{% unless options %}
{% assign options = "complete" %}
{% endunless %}

{% assign limit         =  include.limit %}
{% unless limit %}
{% assign limit         = 10 %}
{% endunless %}

{% assign title         =  include.title %}
{% assign description   =  include.description %}

{% case include.width %}
{% when 25 %}
{% assign column1 = "col-md-3" %}
{% assign column2 = "col-md-9" %}
{% when 33 %}
{% assign column1 = "col-md-4" %}
{% assign column2 = "col-md-8" %}
{% when 40 %}
{% assign column1 = "col-md-5" %}
{% assign column2 = "col-md-7" %}
{% when 50 %}
{% assign column1 = "col-md-6" %}
{% assign column2 = "col-md-6" %}
{% when 60 %}
{% assign column1 = "col-md-7" %}
{% assign column2 = "col-md-5" %}
{% when 66 %}
{% assign column1 = "col-md-8" %}
{% assign column2 = "col-md-4" %}
{% when 75 %}
{% assign column1 = "col-md-9" %}
{% assign column2 = "col-md-3" %}
{% else %}
{% assign column1 = "col-md-4" %}
{% assign column2 = "col-md-8" %}
{% endcase %}

{% assign section = include.section %}
{% assign container = include.container %}


<section id="blog01" class="{{ theme.bg.primary }} {{ theme.text.primary }} {{ section }}" >
    {% if container %}<div id="container" class="{{ container }}">{% endif %}
    {% if title %}<h2 class="mb-4 pb-2 text-center text-decoration-none">{{ title }}</h2>{% endif %}
    {% if description %}<p class="mx-auto p-2 mb-3 text-justify ">{{ description }}</p>{% endif %}
    {% for item in collection  limit: {{limit}} %}
    <div class="row">
        <div class="{{ column1 }}">
            <img src="{{ item.image.horizontal }}" alt="{{ item.excerpt }}" class="img-fluid p-2 rounded">
        </div>
        <div class="{{ column2 }}">
            {% unless options contains "title" %}<a href="{{ item.url }}">
                <h3 class=" {{ theme.text.accent1 }}">{{ item.title }}</h3>
            </a>{% endunless %}
            {% unless options contains "subtitle" %}<h5 class="">{{ item.subtitle }}</h5>
            {% endunless %}
            {% unless options contains "description" %}<p class="p-2 text-justify {{ theme.text.primary }}">
                {{ item.description }}</p>
            {% endunless %}
            <div class="row">
                <div class="col-md-9">
                    {% unless options contains "excerpt" %}<p class="text-small {{ theme.text.accent3 }}">{{ item.excerpt }}
                    </p>{% endunless %}
                </div>
                <div class="col-md-3">
                    {% unless options contains "button" %}<a class="btn btn-sm btn-light {{ theme.bg.primary }} {{ theme.text.primary }}"
                        href="{{ item.url }}">visit {{ item.collection }}</a>{% endunless %}
                </div>
            </div>
        </div>
    </div>
    <hr/>
    {% endfor %}

    {% if paginator %}{% include paginator01.html %}{% endif %}
    
</section>
