{% comment %}
<!-- v1.00 _includes/branding.html -->
{% endcomment %}

<div class = "p-1 {{ theme.text.primary }} {{ theme.bg.light }}" >.text.primary .bg.light</div>
<div class = "p-1 {{ theme.text.accent1 }} {{ theme.bg.light }}" >.text.accent1 .bg.light</div>
<div class = "p-1 {{ theme.text.accent2 }} {{ theme.bg.light }}" >.text.accent2 .bg.light</div>
<div class = "p-1 {{ theme.text.accent3 }} {{ theme.bg.light }}" >.text.accent3 .bg.light</div>
<div class = "p-1 {{ theme.text.accent4 }} {{ theme.bg.light }}" >.text.accent4 .bg.light</div>
<div class = "p-1 {{ theme.text.light }} {{ theme.bg.light }}" >.text.light .bg.light</div>
<div class = "p-1 {{ theme.text.dark }} {{ theme.bg.light }}" >.text.dark .bg.light</div>

<div class = "p-1 {{ theme.text.primary }} {{ theme.bg.dark }}" >.text.primary .bg.dark</div>
<div class = "p-1 {{ theme.text.accent1 }} {{ theme.bg.dark }}" >.text.accent1 .bg.dark</div>
<div class = "p-1 {{ theme.text.accent2 }} {{ theme.bg.dark }}" >.text.accent2 .bg.dark</div>
<div class = "p-1 {{ theme.text.accent3 }} {{ theme.bg.dark }}" >.text.accent3 .bg.dark</div>
<div class = "p-1 {{ theme.text.accent4 }} {{ theme.bg.dark }}" >.text.accent4 .bg.dark</div>
<div class = "p-1 {{ theme.text.light }} {{ theme.bg.dark }}" >.text.light .bg.dark</div>
<div class = "p-1 {{ theme.text.dark }} {{ theme.bg.dark }}" >.text.dark .bg.dark</div>

<div class = "p-1 {{ theme.text.primary }} {{ theme.bg.accent4 }}" >.text.primary .bg.accent4</div>
<div class = "p-1 {{ theme.text.accent1 }} {{ theme.bg.accent4 }}" >.text.accent1 .bg.accent4</div>
<div class = "p-1 {{ theme.text.accent2 }} {{ theme.bg.accent4 }}" >.text.accent2 .bg.accent4</div>
<div class = "p-1 {{ theme.text.accent3 }} {{ theme.bg.accent4 }}" >.text.accent3 .bg.accent4</div>
<div class = "p-1 {{ theme.text.accent4 }} {{ theme.bg.accent4 }}" >.text.accent4 .bg.accent4</div>
<div class = "p-1 {{ theme.text.light }} {{ theme.bg.accent4 }}" >.text.light .bg.accent4</div>
<div class = "p-1 {{ theme.text.dark }} {{ theme.bg.accent4 }}" >.text.dark .bg.accent4</div>

<div class = "p-1 {{ theme.text.primary }} {{ theme.bg.accent3 }}" >.text.primary .bg.accent3</div>
<div class = "p-1 {{ theme.text.accent1 }} {{ theme.bg.accent3 }}" >.text.accent1 .bg.accent3</div>
<div class = "p-1 {{ theme.text.accent2 }} {{ theme.bg.accent3 }}" >.text.accent2 .bg.accent3</div>
<div class = "p-1 {{ theme.text.accent3 }} {{ theme.bg.accent3 }}" >.text.accent3 .bg.accent3</div>
<div class = "p-1 {{ theme.text.accent4 }} {{ theme.bg.accent3 }}" >.text.accent4 .bg.accent3</div>
<div class = "p-1 {{ theme.text.light }} {{ theme.bg.accent3 }}" >.text.light .bg.accent3</div>
<div class = "p-1 {{ theme.text.dark }} {{ theme.bg.accent3 }}" >.text.dark .bg.accent3</div>

<div class = "p-1 {{ theme.text.primary }} {{ theme.text.accent2 }}" >.text.primary .bg.accent2</div>
<div class = "p-1 {{ theme.text.accent1 }} {{ theme.text.accent2 }}" >.text.accent1 .bg.accent2</div>
<div class = "p-1 {{ theme.text.accent2 }} {{ theme.text.accent2 }}" >.text.accent2 .bg.accent2</div>
<div class = "p-1 {{ theme.text.accent3 }} {{ theme.text.accent2 }}" >.text.accent3 .bg.accent2</div>
<div class = "p-1 {{ theme.text.accent4 }} {{ theme.text.accent2 }}" >.text.accent4 .bg.accent2</div>
<div class = "p-1 {{ theme.text.light }} {{ theme.text.accent2 }}" >.text.light .bg.accent2</div>
<div class = "p-1 {{ theme.text.dark }} {{ theme.text.accent2 }}" >.text.dark .bg.accent2</div>

<div class = "p-1 {{ theme.text.primary }} {{ theme.bg.accent1 }}" >.text.primary .bg.accent1</div>
<div class = "p-1 {{ theme.text.accent1 }} {{ theme.bg.accent1 }}" >.text.accent1 .bg.accent1</div>
<div class = "p-1 {{ theme.text.accent2 }} {{ theme.bg.accent1 }}" >.text.accent2 .bg.accent1</div>
<div class = "p-1 {{ theme.text.accent3 }} {{ theme.bg.accent1 }}" >.text.accent3 .bg.accent1</div>
<div class = "p-1 {{ theme.text.accent4 }} {{ theme.bg.accent1 }}" >.text.accent4 .bg.accent1</div>
<div class = "p-1 {{ theme.text.light }} {{ theme.bg.accent1 }}" >.text.light .bg.accent1</div>
<div class = "p-1 {{ theme.text.dark }} {{ theme.bg.accent1 }}" >.text.dark .bg.accent1</div>

<div class = "p-1 {{ theme.text.primary }} {{ theme.bg.primary }}" >.text.primary .bg.primary</div>
<div class = "p-1 {{ theme.text.accent1 }} {{ theme.bg.primary }}" >.text.accent1 .bg.primary</div>
<div class = "p-1 {{ theme.text.accent2 }} {{ theme.bg.primary }}" >.text.accent2 .bg.primary</div>
<div class = "p-1 {{ theme.text.accent3 }} {{ theme.bg.primary }}" >.text.accent3 .bg.primary</div>
<div class = "p-1 {{ theme.text.accent4 }} {{ theme.bg.primary }}" >.text.accent4 .bg.primary</div>
<div class = "p-1 {{ theme.text.light }} {{ theme.bg.primary }}" >.text.light .bg.primary</div>
<div class = "p-1 {{ theme.text.dark }} {{ theme.bg.primary }}" >.text.dark .bg.primary</div>
