<h5 class = "brand-text-color1 brand-bg-light p-2">.brand-text-color1 .brand-bg-light</h5>
<h5 class = "brand-text-color2 brand-bg-light p-2">.brand-text-color2 .brand-bg-light</h5>
<h5 class = "brand-text-color3 brand-bg-light p-2">.brand-text-color3 .brand-bg-light</h5>
<h5 class = "brand-text-color4 brand-bg-light p-2">.brand-text-color4 .brand-bg-light</h5>
<h5 class = "brand-text-color5 brand-bg-light p-2">.brand-text-color5 .brand-bg-light</h5>
<h5 class = "brand-text-dark brand-bg-light p-2">.brand-text-dark .brand-bg-light</h5>

<h5 class = "brand-text-color1 brand-bg-dark p-2">.brand-text-color1 .brand-bg-dark</h5>
<h5 class = "brand-text-color2 brand-bg-dark p-2">.brand-text-color2 .brand-bg-dark</h5>
<h5 class = "brand-text-color3 brand-bg-dark p-2">.brand-text-color3 .brand-bg-dark</h5>
<h5 class = "brand-text-color4 brand-bg-dark p-2">.brand-text-color4 .brand-bg-dark</h5>
<h5 class = "brand-text-color5 brand-bg-dark p-2">.brand-text-color5 .brand-bg-dark</h5>
<h5 class = "brand-text-light brand-bg-dark p-2">.brand-text-light .brand-bg-dark</h5>


<h5 class = "brand-text-color2 brand-bg-color1 p-2">.brand-text-color2 .brand-bg-color1</h5>
<h5 class = "brand-text-color3 brand-bg-color1 p-2">.brand-text-color3 .brand-bg-color1</h5>
<h5 class = "brand-text-color4 brand-bg-color1 p-2">.brand-text-color4 .brand-bg-color1</h5>
<h5 class = "brand-text-color5 brand-bg-color1 p-2">.brand-text-color5 .brand-bg-color1</h5>
<h5 class = "brand-text-light brand-bg-color1 p-2">.brand-text-light .brand-bg-color1</h5>
<h5 class = "brand-text-dark brand-bg-color1 p-2">.brand-text-dark .brand-bg-color1</h5>

<h5 class = "brand-text-color1 brand-bg-color2 p-2">.brand-text-color1 .brand-bg-color2</h5>
<h5 class = "brand-text-color3 brand-bg-color2 p-2">.brand-text-color3 .brand-bg-color2</h5>
<h5 class = "brand-text-color4 brand-bg-color2 p-2">.brand-text-color4 .brand-bg-color2</h5>
<h5 class = "brand-text-color5 brand-bg-color2 p-2">.brand-text-color5 .brand-bg-color2</h5>
<h5 class = "brand-text-light brand-bg-color2 p-2">.brand-text-light .brand-bg-color5</h5>
<h5 class = "brand-text-dark brand-bg-color2 p-2">.brand-text-dark .brand-bg-color2</h5>

<h5 class = "brand-text-color1 brand-bg-color3 p-2">.brand-text-color1 .brand-bg-color3</h5>
<h5 class = "brand-text-color2 brand-bg-color3 p-2">.brand-text-color2 .brand-bg-color3</h5>
<h5 class = "brand-text-color4 brand-bg-color3 p-2">.brand-text-color4 .brand-bg-color3</h5>
<h5 class = "brand-text-color5 brand-bg-color3 p-2">.brand-text-color5 .brand-bg-color3</h5>
<h5 class = "brand-text-light brand-bg-color3 p-2">.brand-text-light .brand-bg-color3</h5>
<h5 class = "brand-text-dark brand-bg-color3 p-2">.brand-text-dark .brand-bg-color3</h5>

<h5 class = "brand-text-color1 brand-bg-color4 p-2">.brand-text-color1 .brand-bg-color4</h5>
<h5 class = "brand-text-color2 brand-bg-color4 p-2">.brand-text-color2 .brand-bg-color4</h5>
<h5 class = "brand-text-color3 brand-bg-color4 p-2">.brand-text-color3 .brand-bg-color4</h5>
<h5 class = "brand-text-color5 brand-bg-color4 p-2">.brand-text-color5 .brand-bg-color4</h5>
<h5 class = "brand-text-light brand-bg-color4 p-2">.brand-text-light .brand-bg-color4</h5>
<h5 class = "brand-text-dark brand-bg-color4 p-2">.brand-text-dark .brand-bg-color4</h5>

<h5 class = "brand-text-color1 brand-bg-color5 p-2">.brand-text-color1 .brand-bg-color5</h5>
<h5 class = "brand-text-color2 brand-bg-color5 p-2">.brand-text-color2 .brand-bg-color5</h5>
<h5 class = "brand-text-color3 brand-bg-color5 p-2">.brand-text-color3 .brand-bg-color5</h5>
<h5 class = "brand-text-color4 brand-bg-color5 p-2">.brand-text-color4 .brand-bg-color5</h5>
<h5 class = "brand-text-light brand-bg-color5 p-2">.brand-text-light .brand-bg-color5</h5>
<h5 class = "brand-text-dark brand-bg-color5 p-2">.brand-text-dark .brand-bg-color5</h5>

