{% comment %}
<!-- v1.00  _includes/breadcrumb.html -->
{% endcomment %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign section = include.section %}
{% assign container = include.container %}

{% capture pageurl %}{{ page.url | remove: "/index.html" }}{% endcapture %}
{% capture pageurl %}{{ pageurl | remove: ".html" }}{% endcapture %}
{% assign spliturl = pageurl | split: '/' | shift %}

{% comment %}
# TODO change style to css 
{% endcomment %}

<section id="bread" class="{{ section }}" style="border-radius:0; margin-bottom:0;">
    {% if container %}<div id="container" class="{{ container }}">{% endif %}
        <ol class="breadcrumb {{ theme.bg.accent2 }} {{ section }}" style="border-radius:0; margin-bottom:0;">
            {% assign url = side.baseurl | append: '/' %}
            <li class="breadcrumb-item font-italic"><a href="{{ url }}"><i class="fas fa-home  {{ theme.text.primary }} "></i></a></li>
            {% for split in spliturl %}
            {% assign url = url | append: split |append: '/' %}
            {% if forloop.last == false %}
                <li class="breadcrumb-item font-italic  {{ theme.text.primary }} "><a href="{{ url }}" class=" {{ theme.text.primary }} ">{{ split }}</a></li>
            {% else %}
                <li class="breadcrumb-item active {{ theme.text.primary }} "><a href="{{ url }}" class=" {{ theme.text.primary }} ">{{ split }}</a></li>
            {% endif %}
            {% endfor %}
        </ol>
        {% if container or container %}</div>{% endif %}
</section>