{% comment %}
<!--
    v1.00  _includes/breadcrumb.html
    
# DOCUMENTATION Add documentation

    include breadbrumb.html  theme = [sting] (optional site.data.theme.alert.default)
    
-->
{% endcomment %}

{% assign theme = site.data.theme.breadcrumb.[include.theme] %}
{% unless theme %}
{% assign theme = site.data.theme.breadcrumb.default %}
{% endunless %}

{% capture pageurl %}{{ page.url | remove: "/index.html" }}{% endcapture %}
{% assign spliturl = pageurl | split: '/' | shift %}

<section id="breadcrumb" class=" {{ theme.class.section }}" {% if theme.style.section %}style="{{ theme.style.section }}"{% endif %}>
    <ol class="breadcrumb {{ theme.class.section }}" {% if theme.style.section %}style="{{ theme.style.section }}"{% endif %}>
        {% assign url = side.baseurl |append: '/' %}
        <li class="breadcrumb-item"><a href="{{ url }}"><i class="fas fa-home {{theme.class.text}}"></i></a></li>
        {% for split in spliturl %}
        {% assign url = url | append: split |append: '/' %}
        {% if forloop.last == false %}
        <li class="breadcrumb-item"><a href="{{ url }}" class="{{ theme.class.text }}">{{ split }}</a></li>
        {% else %}
        <li class="breadcrumb-item active"><a href="{{ url }}" class="{{ theme.class.text }}">{{ split }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
</section>