{% comment %}
<!--
    v1.00  _includes/calltoaction02.html
    
# DOCUMENTATION Add documentation
# ENHANCEMENT Improve Layout
    
    include calltoaction02.html     collection = [object] (default site.posts)
                                    button = [string] (default "Read More...")
                                    theme = [string] (default site.data.theme.calltoaction.default)                                  
                                    
-->
{% endcomment %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection = site.data.calltoaction.default %}
{% endunless %}

{% assign theme = site.data.theme.calltoaction.[include.theme] %}
{% unless theme %}
{% assign theme = site.data.theme.calltoaction.default %}
{% endunless %}

{% assign button = "Read More.." %}

<section id="calltoaction02" class="{{ theme.class.section }}" {% if theme.style.section %}style="{{ theme.style.section }}"{% endif %}>
    <div class="row {{ theme.class.div }}">
        <div class="col-lg-6 mb-lg-0 mb-md-4">
            <img src="{{ collection.image }}" class="img-fluid float-left">
        </div>
        <div class="col-lg-6 p-5 pl-2 ">
            <h3 class="{{ theme.class.title }}">{{ collection.title }}</h3>
            <p class="{{ theme.class.subtitle }}">{{ collection.subtitle }}</p>
            <a class="{{ theme.class.button }}" href="{{ collection.url }}" role="button">{{ button }}<i
                    class="ml-1 {{ item.icon }}"></i></a>
        </div>
    </div>
</section>