{% comment %}
<!-- v1.00  _includes/calltoaction02.html                            
-->
{% endcomment %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection = site.data.calltoaction.[page.brand] %}
{% endunless %}
{% unless collection %}
{% assign collection = site.data.calltoaction.brand1 %}
{% endunless %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign button = "Read More.." %}
{% assign section = include.section %}
{% assign container = include.container %}

<section id="calltoaction02" class="{{ theme.bg.primary }} {{ theme.text.primary }} {{ section }}">
    {% if container %}<div id="container" class="{{ container }}">{% endif %}

    {% for item in collection  limit: 1 %}
    <div class="row">
        <div class="col-lg-6 mb-lg-0 mb-md-4">
            {% assign image = item.image.default %}
            {% unless image %}{% assign image = item.image %}{% endunless %}
            <img src="{{ image }}" class="img-fluid float-left">
        </div>
        <div class="col-lg-6 p-5 pl-2 ">
            <h3 class="">{{ item.title }}</h3>
            <p class="">{{ item.subtitle }}</p>
            <a class="" href="{{ item.url }}" role="button">{{ button }}<i
                    class="ml-1 {{ item.icon }}"></i></a>
        </div>
    </div>
    {% endfor %}
    {% if container %}</div>{% endif %}
</section>