{% comment %}
<!-- 
 ALPHA v1.2.121 _includes/calltoaction03.html
-->
{% endcomment %}
{% assign schema = include.schema %}
{% unless schema %}
{% assign schema = page.schema %}
{% endunless %}
{% assign dataset = include.dataset %}
{% unless dataset %}
{% assign dataset = page.dataset %}
{% endunless %}
{% assign schema = site.data.schema.calltoaction[schema] %}
{% assign dataset = site.data.dataset.calltoaction[dataset] %}
{% assign count = count | plus: 1 %}
{% if dataset %}
<section id = "calltoaction3{{ count }}" class = "{{ schema.section }} {{ schema.background }} {{ schema.text }}">
    {% for item in dataset limit: 1 %}
    <div class = "row ">
        <div class = "col-lg-4 mb-lg-0 mb-md-4 align-self-center justify-content-center">
          {% if item.title %}<p class = "{{ schema.title }}">{{ item.title }}</p>{% endif %}
        </div>
        <div class = "col-lg-8">
            {% if item.subtitle %}<p class = "{{ schema.subtitle }}">{{ item.subtitle }}</p>{% endif %}
            {% if item.excerpt %}<p class = "{{ schema.excerpt }}">{{ item.excerpt }}</p>{% endif %}
            {% if item.button.url%}<a class = "{{ schema.button }}" href="{{ item.button.url }}" role="button">{{ item.button.text }}{% if item.button.icon %} <i class="{{ item.button.icon }}"></i>{% endif %}</a>{% endif %}  
        </div>
    </div>
    {% endfor %}
</section>
{% endif %}