{% comment %}
<!--
    v1.00  _includes/calltoaction01.html
    
# DOCUMENTATION Add documentation
# ENHANCEMENT Improve Layout

    include calltoaction01.html     collection = [object] (default site.posts)
                                    button = [string] (default "Read More...")
                                    theme = [string] (default site.data.theme.calltoaction.default)

-->
{% endcomment %}

{% assign theme = site.data.theme.calltoaction.[include.theme] %}
{% unless theme %}
{% assign theme = site.data.theme.calltoaction.default %}
{% endunless %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection = site.data.calltoaction.default %}
{% endunless %}

{% assign button = "Read More.." %}

<section id="calltoaction01" class="px-0 {{ theme.class.section }}" {% if theme.style.section %}style="{{ theme.style.section }}"{% endif %}>
    <div class="p-4">
        {% if collection.title %}<h3 class="text-center {{ theme.class.title }}">{{ collection.title }}</h3>{% endif %}
        {% if collection.subtitle %}<p class="text-center {{ theme.class.subtitle }}">{{ collection.subtitle }}</p>
        {% endif %}
        {% if collection.url %}<p class="text-center m-0"><a class=" {{ theme.class.button }}"
                href="{{ collection.url }}" role="button">{{ button }}</a></p>
        {% endif %}
    </div>
</section>