{% comment %}
<!-- v1.00  _includes/calltoaction01.html -->
{% endcomment %}


{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection = site.data.calltoaction.[page.brand] %}
{% endunless %}
{% unless collection %}
{% assign collection = site.data.calltoaction.brand1 %}
{% endunless %}

{% assign button = "Read More.." %}
{% assign section = include.section %}
{% assign container = include.container %}

<section id="calltoaction01" class="{{ theme.bg.primary }} {{ theme.text.primary }} {{ section }}">
    {% if container %}<div id="container" class="{{ container }}">{% endif %}
 {% for item in collection  limit: 1 %}
    <div class="p-4 text-center">
        {% if item.title %}<h3 >{{ item.title }}</h3>{% endif %}
        {% if item.subtitle %}<p >{{ item.subtitle }}</p>{% endif %}
        {% if item.url %}<a class="btn btn-outline-dark" href="{{ item.url }}" role="button">{{ button }}</a>
        {% endif %}
    </div>
    {% endfor %}
{% if container %}</div>{% endif %}
</section>