{% comment %}
<!--
 ALPHA v1.2.121 _includes/cards01.html
-->
{% endcomment %}

{% assign schema = include.schema %}
{% unless schema %}
{% assign schema = page.schema %}
{% endunless %}
{% assign dataset = include.dataset %}
{% unless dataset %}
{% assign dataset = page.dataset %}
{% endunless %}
{% assign schema = site.data.schema.cards[schema] %}
{% assign dataset = site.data.dataset.cards[dataset] %}
{% assign count = count | plus: 1 %}

<!-- todo add a floating image over graphic  font-size: 12px;margin:0;padding:10px 5px;line-height: 0;-->
<section id = "cards01-{{count}}" class="{{ schema.section }} {{ schema.background }}">
<div class="row">
{% for item in dataset limit: {{include.limit}} %}
<div class="{{schema.column}}">
<div class="card h-100">
{%if item.image %}<img src="{{ item.image }}" class="{{schema.image}}" >{%endif%}
<div class="card-body">
<p class="card-title {{ schema.title }}">{{ item.title }}</p>
<p class="card-text {{ schema.excerp }}">{{ item.excerpt }}</p>
</div>
{%if item.button.url %}<div class="card-footer"><a href="#" class="btn btn-primary">{{item.button.text}}</a></div>{% endif %}

</div>
</div>
{% endfor %}
</div>
</section>