{% comment %}
<!--
 ALPHA v1.2.121 _includes/cards02.html
-->
{% endcomment %}

{% assign schema = include.schema %}
{% unless schema %}
{% assign schema = page.schema %}
{% endunless %}
{% assign dataset = include.dataset %}
{% unless dataset %}
{% assign dataset = page.dataset %}
{% endunless %}
{% assign schema = site.data.schema.cards[schema] %}
{% assign dataset = site.data.dataset.cards[dataset] %}
{% assign count = count | plus: 1 %}
{% assign limit = include.limit %}
{% unless limit %}
{% assign limit = 100 %}
{% endunless %}

<section id = "cards02-{{count}}" class="{{ schema.section }} {{ schema.background }}">
<div class="row">
{% for item in dataset limit: {{limit}} %}
<div class="card mb-6 {{schema.column}}">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ item.image }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-title {{ schema.title }}">{{ item.title }}</p>
          <p class="card-text {{ schema.excerp }}">{{ item.excerpt }}</p>
          {%if item.button.url %}<a href="#" class="btn btn-primary">{{item.button.text}}</a>{% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</section>