{% comment %}
<!--
   v1.00 _includes/feature03.html -->
{% endcomment %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection  = paginator.posts %}
{% endunless %}
{% unless collection %}
{% assign collection = site.data.feature.[page.brand] %}
{% endunless %}
{% unless collection %}
{% assign collection = site.data.feature.brand1 %}
{% endunless %}

{% assign limit         =  include.limit %}
{% unless limit %}
{% assign limit         =  3 %}
{% endunless %}

{% assign title         =  include.title %}
{% unless title %}
{% assign title         =  collection.title %}
{% endunless %}

{% assign description   =  include.description %}
{% unless description %}
{% assign description   =  collection.description %}
{% endunless %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign section = include.section %}
{% assign container = include.container %}

<section id="feature03" class="{{ theme.bg.primary }} {{ theme.text.primary }} {{ section }}">
    {% if container %}<div id="container" class="{{ container }}">{% endif %}
           {% if title %}<h2 class="text-center pt-4 {{ theme.text.primary }}">{{ title }}</h2>{% endif %}
    {% if description %}<p class="text-justify pb-4 {{ theme.text.primary }}">{{ description }}</p>{% endif %}
    <div class="row">
        {% for item in collection limit: {{limit}} %}
        {% unless post.hidden %}
            <div class = "col-md-4 mb-5 pt-5">
                <div class = "row">
                    <div class = "col-lg-2 col-md-3 col-2">
                        <i class = "{{ item.icon }} fa-1x {{ theme.text.primary }}"></i>
                    </div>
                    <div class="col-lg-10 col-md-9 col-10">
                        <h4 class = "{{ theme.text.primary }}">{{item.title}}</h4>
                        <p class = "{{ theme.text.primary }}">{{item.excerpt}}</p>
                    </div>
                </div>
            </div>
        {% endunless %}
        {% endfor %}
    </div>
    {% if container %}</div>{% endif %}
</section>
