{% comment %}
<!-- 
 v1.2.121 _includes/feature01.html
  datasource = [collection] 
  datasource = [dataset]    
  schema = [string]
  limit = [int]
-->
{% endcomment %}

{% assign name = "_includes/feature01.html " %}
{% assign schema = site.data.schema.feature[include.schema] | default: site.data.schema.feature[page.schema] %}
{% assign dataset = include.datasource | default: site.data[page.brand]brand %}
{% unless include.datasource %}{% include error.html error = name %}{%endunless %}
{% assign count = count | plus: 1 %}
{% assign limit = include.limit %}

{% if dataset %}
<section id="feature01-{{ count }}" class = "{{ schema.section }} {{ schema.background }} {{ schema.text }}">
<div id ="row" class = "row">
{% for item in dataset limit: {{limit}} %}
<div id ="column" class = "d-flex flex-column {{ schema.column }}">
{% if item.link.url%}<a class = "{{ schema.button }}" href="{{ item.link.url }}" role="button">{% endif %}
{% if item.assets.icon %}<i class = "{{ item.assets.icon }} mb-4 {{ schema.icon }} "></i>{% endif %}
{% if item.title %}<p class = "{{ schema.title }}">{{ item.title }}</p>{% endif %}
{% if item.subtitle %}<p class = "{{ schema.subtitle }}">{{ item.subtitle }}</p>{% endif %}
{% if item.link.url %}</a>{% endif %}
</div>
{% endfor %}
</div>
</section>
{% endif %}
