{% comment %}
<!-- 
 ALPHA v1.2.121 _includes/feature01.html
-->
{% endcomment %}

{% assign schema = include.schema %}
{% unless schema %}
{% assign schema = page.schema %}
{% endunless %}
{% assign schema = site.data.schema.feature[schema] %}

{% assign dataset = include.collection %}
{% unless dataset %}
{% assign dataset = site.data.dataset.feature[include.dataset] %}
{% endunless %}
{% unless dataset %}
{% assign dataset = site.data.dataset.feature[page.dataset] %}
{% endunless %}

{% assign count = count | plus: 1 %}

{% assign limit = include.limit %}
{% unless limit %}
{% assign limit = 4 %}
{% endunless %}

<section id="feature01-{{ count }}" class = "{{ schema.section }} {{ schema.background }} {{ schema.text }}">
<div id ="row" class = "row">
{% for item in dataset limit: {{limit}} %}
<div id ="column" class = "d-flex flex-column {{ schema.column }}">
{% if item.url%}<a class = "{{ schema.button }}" href="{{ item.button.url }}" role="button">{{ item.button.text }}{% if item.button.icon %} <i class="{{ item.button.icon }}"></i>{% endif %}</a>{% endif %}       
{% if item.icon %}<i class = "{{ item.icon }} mb-4 {{ schema.icon }} "></i>{% endif %}
{% if item.title %}<p class = "{{ schema.title }}">{{ item.title }}</p>{% endif %}
{% if item.subtitle %}<p class = "{{ schema.subtitle }}">{{ item.subtitle }}</p>{% endif %}
{% if item.url %}</a> {% endif %}
</div>
{% endfor %}
</div>

</section>
