<!--
 v1.2.135 _includes/flexcard.html

  schema = [yaml]
  datasource = [array]
  limit = [int]
  offset = [int]

-->

<!-- schema -->
{% assign schema = include.schema | default: site.data.schema.flexcard[page.schema] | default: site.data.schema.default.flexcard.default %}

<!-- dataset -->
{% assign dataset = include.datasource %}
{% assign count = count | plus: 1 %}
{% assign imagetype = include.imagetype | default: "teaser" %}

<!-- flexcard -->
{% if dataset %}

<section id="{{ schema.id }}{{ count }}" class = "{{ schema.layout.section }} {{ schema.layout.background }} {{ schema.layout.text }}">

    <div id = "row" class = "{{ schema.flex.row.parent }}">
    {% for item in dataset limit: {{include.limit}} offset: {{include.offset}} %}
      <div id = "column" class = "{{ schema.flex.column.parent }}">
        <div id= "card" class = "{{ schema.card.parent }}">

          {% if schema.card.horizontal.row %}
          <div class = "row">
          <div class = "col-4">
          {%endif%}

          {% if schema.content.image %}
            <!-- image -->
            <!-- if url with no button -->
            {% if schema.content.link and schema.card.footer == null %}
            <a class = "{{ schema.content.link }}" href="{{ item.link.url | default: item.url }}" >
            {% endif %}
            <img id = "image" src = "{{ item.assets[imagetype] }}" class = "{{ schema.content.image }} {{ schema.card.image}}"/>
            {% if schema.content.link and schema.card.footer == null %}</a>{% endif %}
          {% endif %}

          {% if schema.card.horizontal.row %}
          </div>
          <div class="col-8">
          {% endif %}

          {% if schema.card.body %}
          <!-- card-body -->
          <div id ="cardbody" class = "{{schema.card.body.parent}}">
            
            {% if schema.content.title contains "h1" %}
                <!-- title --><h1 class="{{ schema.content.title }}">{{ item.title }}</h1>
                {% elsif schema.content.title contains "h2" %}
                <!-- title --><h2 class="{{ schema.content.title }}">{{ item.title }}</h2>
                {% elsif schema.content.title contains "h3" %}
                <!-- title --><h3 class="{{ schema.content.title }}">{{ item.title }}</h3>
                {% elsif schema.content.title contains "h4" %}
                <!-- title --><h4 class="{{ schema.content.title }}">{{ item.title }}</h4>
                {% elsif schema.content.title contains "h5" %}
                <!-- title --><h5 class="{{ schema.content.title }}">{{ item.title }}</h5>
                {% elsif schema.content.title %} 
                <!-- title --><p class="{{ schema.content.title }}">{{ item.title }}</p>
            {% endif %}
            
            {% if schema.content.subtitle contains "h1" %}
                <!-- subtitle --><h1 class="{{ schema.content.subtitle }}">{{ item.subtitle }}</h1>
                {% elsif schema.content.subtitle contains "h2" %}
                <!-- subtitle --><h2 class="{{ schema.content.subtitle }}">{{ item.subtitle }}</h2>
                {% elsif schema.content.subtitle contains "h3" %}
                <!-- subtitle --><h3 class="{{ schema.content.subtitle }}">{{ item.subtitle }}</h3>
                {% elsif schema.content.subtitle contains "h4" %}
                <!-- subtitle --><h4 class="{{ schema.content.subtitle }}">{{ item.subtitle }}</h4>
                {% elsif schema.content.subtitle contains "h5" %}
                <!-- subtitle --><h5 class="{{ schema.content.subtitle }}">{{ item.subtitle }}</h5>
                {% elsif schema.content.subtitle %} 
                <!-- subtitle --><p class="{{ schema.content.subtitle }}">{{ item.subtitle }}</p>
            {% endif %}
            
            {% if schema.content.heading contains "h1" %}
              <!-- heading --><h1 class="{{ schema.content.heading }}">{{ item.heading }}</h1>
              {% elsif schema.content.heading contains "h2" %}
              <!-- heading --><h2 class="{{ schema.content.heading }}">{{ item.heading }}</h2>
              {% elsif schema.content.heading contains "h3" %}
              <!-- heading --><h3 class="{{ schema.content.heading }}">{{ item.heading }}</h3>
              {% elsif schema.content.heading contains "h4" %}
              <!-- heading --><h4 class="{{ schema.content.heading }}">{{ item.heading }}</h4>
              {% elsif schema.content.heading contains "h5" %}
              <!-- heading --><h5 class="{{ schema.content.heading }}">{{ item.heading }}</h5>
              {% elsif schema.content.heading %} 
              <!-- heading --><p class="{{ schema.content.heading }}">{{ item.heading }}</p>
            {% endif %}
            
            {% if schema.content.description contains "h1" %}
                <!-- description --><h1 class="{{ schema.content.description }}">{{ item.description }}</h1>
                {% elsif schema.content.description contains "h2" %}
                <!-- description --><h2 class="{{ schema.content.description }}">{{ item.description }}</h2>
                {% elsif schema.content.description contains "h3" %}
                <!-- description --><h3 class="{{ schema.content.description }}">{{ item.description }}</h3>
                {% elsif schema.content.description contains "h4" %}
                <!-- description --><h4 class="{{ schema.content.description }}">{{ item.description }}</h4>
                {% elsif schema.content.description contains "h5" %}
                <!-- description --><h5 class="{{ schema.content.description }}">{{ item.description }}</h5>
                {% elsif schema.content.description  %} 
                <!-- description --><p class="{{ schema.content.description }}">{{ item.description }}</p>
            {% endif %}               
          </div>
          {% endif %}

          {% if schema.card.footer%}
            <!-- card-footor -->
            <div class="{{schema.card.footer}}">
              {% if schema.content.link contains "btn" %}
              <!-- button --><a class = "{{ schema.content.link }}" href="{{ item.link.url | default: item.url }}" role="button">{% if item.link.icon %}<i class="{{ item.link.icon }}"></i> {% endif %}{{ item.link.text }}</a>
              {% elsif schema.content.link %}
              <!-- link --><a class = "{{ schema.content.link }}" href="{{ item.link.url | default: item.url }}" >{% if item.link.icon %}<i class="{{ item.link.icon }}"></i> {% endif %}{{ item.link.text }}</a>
              {% endif %}
            </div>
          {% endif %}

          {% if schema.card.horizontal.row %}
            </div>
            </div>
          {% endif%}
        </div>  
      </div>
    {% endfor %}
    </div>
</section>
{% else %}
<!-- error author -->
{% include error.html error = "_includes/flexcard.html" %}
{% endif %}