{% comment %}
<!--
    v1.00 _includes/footer01.html

# Documentation -  Add to documentation

  include footer01.html         collection = [object] (default site.data.footer.default)
                                theme = [string] (default site.data.theme.footer.default)

-->
{% endcomment %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection = site.data.footer.[page.brand] %}
{% endunless %}
{% unless collection %}
{% assign collection = site.data.footer.brand1 %}
{% endunless %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign section = include.section %}
{% assign container = include.container %}

<section id="footer01" class="mt-auto p-4 {{ theme.bg.primary }} {{ theme.text.primary }} {{ section }}">
        {% if container %}<div id="container" class="{{ container }}">{% endif %}
        {% if collection.url %}<a href="{{ collection.url }}" class='text-reset text-decoration-none'>{% endif %}
        {% if collection.title or collection.icon %}<span class="pr-5">{% endif %}
        {% if collection.icon %}<i class="{{ collection.icon }} pr-1"></i>{% endif %}
        {% if collection.title %}<span class="font-weight-bold">{{ collection.title }}</span>{% endif %}
        {% if collection.title or collection.icon %}</span>{% endif %}
        {% if collection.url %}</a>{% endif %}
        {% for navitem in collection.navigation %}
                <a href='{{ navitem.url }}' class='text-reset text-decoration-none font-weight-light pr-1'>{{ navitem.title }}</a>
        {% endfor %}
        {% if container %}</div>{% endif %}
</footer>