{% comment %}
<!--
    v1.00 _includes/footer01.html

# DOCUMENTATION Add documentation

  include footer01.html         collection = [object] (default site.data.footer.default)
                                theme = [string] (default site.data.theme.footer.default)

-->
{% endcomment %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection = site.data.footer.default %}
{% endunless %}

{% assign theme = site.data.theme.footer.[include.theme] %}
{% unless theme %}
{% assign theme = site.data.theme.footer.default %}
{% endunless %}

<footer id="footer01" class="{{ theme.class.section }} p-3" {% if theme.style.section %}style="{{ theme.style.section }}"{% endif %} >
        <div class="container">
                {% if collection.url %}<a href="{{ collection.url }}"
                        class='text-reset text-decoration-none'>{% endif %}
                        {% if collection.title or collection.icon %}<span class="pr-5">{% endif %}
                                {% if collection.icon %}<i class="{{ collection.icon }} pr-1"></i>{% endif %}
                                {% if collection.title %}<span
                                        class="font-weight-bold">{{ collection.title }}</span>{% endif %}
                                {% if collection.title or collection.icon %}</span>{% endif %}
                        {% if collection.url %}</a>{% endif %}
                {% for navitem in collection.navigation %}
                <a href='{{ navitem.url }}'
                        class='text-reset text-decoration-none font-weight-light pr-1'>{{ navitem.title }}</a>
                {% endfor %}
        </div>
</footer>