{% comment %}
<!-- 
 ALPHA v1.2.121 _includes/footer.html
-->
{% endcomment %}

{% assign schema = include.schema %}
{% unless schema %}
{% assign schema = page.schema %}
{% endunless %}
{% assign dataset = include.dataset %}
{% unless dataset %}
{% assign dataset = page.dataset %}
{% endunless %}
{% assign brand = include.brand %}
{% unless brand %}
{% assign brand = page.brand %}
{% endunless %}
{% assign schema = site.data.schema.footer[schema] %}
{% assign dataset = site.data.dataset.footer[dataset] %}
{% assign brand = site.data.brand[brand] %}

{% unless dataset %}
{% include error.html message = "_include/footer.html no dataset" %}
{% endunless %}

<footer id="footer" class = "{{ schema.footer }} {{ schema.background }} {{ schema.text }} ">
<!--brand.yml-->
<p class = "{{ schema.copyright }}">{{ brand.copyright }}<br>
{% if brand.url %}<a href="{{ brand.url}}" class='text-reset text-decoration-none'>{% endif %}
{% if brand.text or brand.icon %}<span class = "pr-5">{% endif %}
{% if brand.icon %}<i class = "{{ brand.icon }} pr-1"></i>{% endif %}
{% if brand.text %}<span class = "{{ brand.text }}">{{ brand.text }}</span>{% endif %}
{% if brand.text or brand.icon %}</span>{% endif %}
{% if brand.url %}</a>{% endif %}
<!--footer.yml-->
{% for item in dataset %}
<a href="{{ item.url }}" class = "{{ schema.links }}">{{ item.text }}</a>
{% endfor %}
</p>
</footer>