{% comment %}
<!-- 
 ALPHA v1.2.121 _includes/heading.html

 dataset:    [string]dataset1   
 schema:     [string]dark
-->
{% endcomment %}
{% assign schema = include.schema %}
{% unless schema %}
{% assign schema = page.schema %}
{% endunless %}
{% assign dataset = include.dataset %}
{% unless dataset %}
{% assign dataset = page.dataset %}
{% endunless %}
{% assign schema = site.data.schema.header[schema] %}
{% assign dataset = site.data.dataset.header[dataset] %}
{% assign count = count | plus: 1 %}
<section id="header{{count}}" class = "{{ schema.container }} {{ schema.background }} {{ schema.text }}">
{% if dataset.title %}<p class = "{{ schema.title }}">{{ dataset.title }}</p>{% endif %}
{% if dataset.subtitle %}<p class = "{{ schema.subtitle }}">{{ dataset.subtitle }}</p>{% endif %}
</section>
