{% comment %}
<!--
    v1.00 _includes/images.html

# INVESTIGATE Confirm if this file is still used
# Delete this file if no longer used

-->
{% endcomment %}

{% assign collection = site.data.images.[include.collection] %}
{% unless images %}
{% assign collection = site.data.images.default %}
{% endunless %}
<hr>
<h2>Horizontal {{ include.collection }} Image</h2>
<img src = "{{ collection.horizontal }}"/>
<h2>vertical  {{ include.collection }} Image</h2>
<img src = "{{ collection.vertical }}"/>
<h2>square  {{ include.collection }} Image</h2>
<img src = "{{ collection.square }}"/>
<h2>random  {{ include.collection }} Image</h2>
<img src = "{{ collection.random }}"/>
<h2>background  {{ include.collection }} Image</h2>
<img src = "{{ collection.background }}"/>
<h2>profile  {{ include.collection }} Image</h2>
<img src = "{{ collection.profile }}"/>
<hr>