{% comment %}
<!--
    v1.00 _includes/jumbotron.html

# Documentation -  Add to documentation

    include jumbotron.html  collection = [object] (default site.data.jumbotron.default)
                            limit = [integer] (default 4)
                            theme = [string] (default site.data.theme.jumbotron.default)

-->
{% endcomment %}


{% assign collection  =  include.collection %}
{% unless collection %}
{% assign collection = site.data.jumbotron.[page.brand] %}
{% endunless %}
{% unless collection %}
{% assign collection  =  site.data.jumbotron.brand1 %}
{% endunless %}

{% assign limit       =  include.limit %}
{% unless limit %}
{% assign limit       =  4 %}
{% endunless %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign section = include.section %}
{% assign container = include.container %}

{% for item in collection %}
<section id="jumbotron" class="jumbotron jumbotron-fluid p-3" class = "{{ theme.bg.primary }} {{ theme.text.primary }} {{ section }}">
    {% if container %}<div id="container" class="{{ container }}">{% endif %}
    {{ item.content }}
    {% if container %}</div>{% endif %}
</section>
{% endfor %}