{% comment %}
<!--
 ALPHA v1.2.121 _includes/jumbotron.html

 dataset:    [string]dataset1   
 schema:     [string]dark
-->
{% endcomment %}
{% assign schema = include.schema %}
{% unless schema %}
{% assign schema = page.schema %}
{% endunless %}
{% assign dataset = include.dataset %}
{% unless dataset %}
{% assign dataset = page.dataset %}
{% endunless %}
{% assign schema = site.data.schema.jumbotron[schema] %}
{% assign dataset = site.data.dataset.jumbotron[dataset] %}
{% assign count = count | plus: 1 %}
{% if dataset %}
<section id = "jumbotron{{ count }}" class = "{{ schema.section }} {{ schema.background }} {{ schema.text }}">
    {% if dataset.title %}<p class = "{{ schema.title }}">{{ dataset.title }}</p>{% endif %}
    {% if dataset.subtitle %}<p class = "{{ schema.subtitle }}">{{ dataset.subtitle }}</p>{% endif %}
    {% if dataset.excerpt %}<p class = "{{ schema.excerpt }}">{{ dataset.excerpt }}</p>{% endif %}
    {% if dataset.button.url%}
    <a class = "{{ schema.button }}" href="{{ dataset.button.url }}" role="button">{{ dataset.button.text }}{% if dataset.button.icon %} <i class="{{ dataset.button.icon }}"></i>{% endif %}</a>
    {% endif %}
</section>
{% endif %}