<!--
    
 v1.2.121 _includes/navbar.html

  datasource = [collection] 
  datasource = [dataset]    
  schema = [string]
  limit = [int]
  brand = [string]
-->

<!-- schema -->
{% assign schema = include.schema | default: site.data.schema.navbar[page.schema] | default: site.data.schema.default.navbar.default %}

<!-- dataset -->
{% assign dataset = include.datasource %}

<!-- navbar -->
{% if dataset %}
<nav id="navbar" class = "{{ schema.layout.navbar.primary }}">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> 
        {% if dataset.brand.link.url %}<a class = "navbar-brand" href="{{ dataset.brand.link.url }}">{% endif %}
        {% if dataset.brand.link.text or dataset.brand.link.icon %}<span>{% endif %}
        {% if dataset.brand.link.icon %}<i class = "{{ dataset.brand.link.icon }}"></i>{% endif %}
        {% if dataset.brand.link.text %}{{ dataset.brand.link.text }}{% endif %}
        {% if dataset.brand.link.text or dataset.brand.link.icon %}</span>{% endif %}
        {% if dataset.brand.link.url %}</a>{% endif %}
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                {% for item in dataset.navbar %}
                    {% if item.children %}
                        <li class = "nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{ item.url }}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.text }}</a>
                            <div class = "dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% for child in item.children %}
                                    <a class = "dropdown-item" href="{{ child.url }}">{{ child.text }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li class = "nav-item">
                            <a class = "nav-link" href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
</nav>
<!-- VNEXT BUG workaround for spacing issue -->
<Section id = "spacer00" class = "p-4 theme-bg-light"></Section>
<script>
    $( window ).scroll(function() {
    if ($(window).scrollTop() == 0)
        $("#navbar").removeClass().addClass("{{ schema.layout.navbar.primary }}");
    else
        $("#navbar").removeClass().addClass("{{ schema.layout.navbar.secondary }}");
    })
</script>
{% else %}
<!-- error navbar -->
{% include error.html error = "_includes/navbar.html" %}
{% endif %}
