{% comment %}
<!--
    v1.00 _includes/newsfeed02.html 

# Documentation -  Add to documentation
                              
-->
{% endcomment %}

{% assign title = include.title  %}
{% assign description = include.description %}
{% assign limit  = include.limit %}
{% unless limit %}
{% assign limit = 5 %}
{% endunless %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection = site.posts %}
{% endunless %}

{% assign collection2 = include.collection2 %}
{% unless collection2 %}
{% assign collection2 = site.posts %}
{% endunless %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign section = include.section %}
{% assign container = include.container %}


<section id="newsfeed02" class="{{ theme.bg.primary }} {{ theme.text.primary }} {{ section }}">
  {% if container %}<div id="container" class="{{ container }}">{% endif %}
   {% if title %}<h3 class="text-center font-weight-bold p-3 {{ theme.text.primary }}">{{ title }}</h3>{% endif %}
    {% if description %}<p class="text-justify mx-auto p-3 {{ theme.text.primary }}">{{ description }}</p>{% endif %}
    <div class="row p-3">
      <div class="col-lg-6 col-md-12">
        {% for post in collection limit: limit %}
        {% if forloop.first %}
        <a href = "{{ post.url }}" class = "text-decoration-none">
            <img class="img-fluid rounded" src = "{{ post.image.horizontal }}" alt = "{{ post.excerpt }}">
        </a>
        <a href = "{{ post.url }}" class = "text-decoration-none">
            <h3 class="{{ theme.text.primary }}">{{ post.title }}</h3>
        </a>
            <p class="{{ theme.text.primary }} text-justify">{{ post.description }}</p>
        {% else %}
          <div class="row p-3">
              <div class="col-md-3">
                <a href = "{{ post.url }}" class = "text-decoration-none">
                  <img class="img-fluid rounded" src="{{ post.image.horizontal }}" alt="Sample image">
                </a>
              </div>
              <div class="col-md-9">
                <a href = "{{ post.url }}" class = "text-decoration-none">
                  <h5 class="{{ theme.text.primary }} m-0">{{ post.title }}</h5>
                </a>
                <p class="{{ theme.text.primary }} text-truncate">{{ post.description }}</p>
              </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>

      <div class="col-lg-6 col-md-12">
          {% for post in collection2 limit: limit %}
          {% if forloop.first %}
          <a href = "{{ post.url }}" class = "text-decoration-none">
            <img class="img-fluid rounded" src = "{{ post.image.horizontal }}" alt = "{{ post.excerpt }}">
        </a>
        <a href = "{{ post.url }}" class = "text-decoration-none">
            <h3 class="{{ theme.text.primary }}">{{ post.title }}</h3>
        </a>
            <p class="{{ theme.text.primary }} text-justify">{{ post.description }}</p>
        {% else %}
      <div class ="row p-3">
        <div class = "col-md-3">
          <a href = "{{ post.url }}" class = "text-decoration-none">
            <img class = "img-fluid rounded" src = "{{ post.image.horizontal }}" alt = "{{ post.excerpt }}">
          </a>
        </div>
        <div class="col-md-9">
          <a href = "{{ post.url }}" class = "text-decoration-none">
            <h5 class="{{ theme.text.primary }} m-0">{{ post.title }}</h5>
          </a>
          <p class="{{ theme.text.primary }} text-truncate">{{ post.description }}</p>
        </div>
    </div>
      {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if container %}</div>{% endif %}
  </section>