{% comment %}
<!--
    v1.00 _includes/newsfeed01.html
 
# COMMENTS Add comments
# DOCUMENTATION Add documentation

    include newsfeed01.html   title = [string] (optional)
                              description = [string] (optional)
                              limit =  [Integer] (default 7)
                              collection = [object] (default site.posts)
                              theme = [sting] (default site.data.theme.newsfeed.default)

-->
{% endcomment %}

{% assign title = include.title  %}
{% assign description = include.description %}
{% assign limit  = include.limit %}
{% unless limit %}
{% assign limit = 7 %}
{% endunless %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection = site.posts %}
{% endunless %}

{% assign theme = site.data.theme.newsfeed.[include.theme] %}
{% unless theme %}
{% assign theme = site.data.theme.newsfeed.default %}
{% endunless %}

<section id="newsfeed01" class = "{{ theme.class.section }}" {% if theme.style.section %}style = "{{ theme.style.section }}"{% endif %}>
  {% if title %}<h3 class="text-center font-weight-bold p-3 {{ theme.class.title }}">{{ title }}</h3>{% endif %}
  {% if description %}<p class="text-justify mx-auto p-3">{{ description }}</p>{% endif %}
  <div class="row">
      {% for post in collection %}
      {% if forloop.first %}
      <div class="col-lg-6 col-md-12 mb-4">
        <a href = "{{ post.url }}" class = "text-decoration-none"><img class="img-fluid px-3" src = "{{ post.image.horizontal }}" alt = "{{ post.excerpt }}"></a>
        <a href = "{{ post.url }}" class = "text-decoration-none"><h3 class="{{ theme.class.title }} px-3">{{ post.title }}</h3></a>
        <p class="{{ theme.class.description }} px-3 text-justify">{{ post.description }}</p>
      </div>
      {% endif %}
      {% endfor %}
      <!--SECOND-->
      <div class="col-lg-6 col-md-12 mb-1">
          {% for post in collection offset: 1  limit: limit %}
              <div class="row mb-2">
                  <div class = "col-md-3">
                      <a href = "{{ post.url }}" class = "text-decoration-none">
                          <img class = "img-fluid rounded" src = "{{ post.image.horizontal }}" alt = "{{ post.excerpt }}">
                      </a>
                  </div>
                  <div class="col-md-9">
                      <a href = "{{ post.url }}" class = "text-decoration-none">
                          <h5 class="{{ theme.class.title }} m-0">{{ post.title }}</h5>
                        </a>
                      <p class="{{ theme.class.description }} text-truncate">{{ post.description }}</p>
                    </div>
              </div>
          {% endfor %}
      </div>
    </div>
</section>
