

{% if paginator.total_pages > 1 %}

<Section id = "pagination" class="{{ theme.bg.primary }} {{ theme.text.primary}} p-5" >
  <ul class="pagination">
      {% if paginator.first_page %}
      <li class="page-item">
          <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link">First</a>
      </li>
      {% endif %}

      {% if paginator.previous_page %}
      <li class="page-item">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link">&larr; Newer Posts</a>
      </li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %}class="active"{% endif %}>
              <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link" title="{{trail.title}}">{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% if paginator.next_page %}
      <li class="page-item">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link">Older Posts &rarr;</a>
      </li>
      {% endif %}

       {% if paginator.last_page %}
      <li class="page-item">
          <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link">Last</a>
      </li>
      {% endif %}
  </ul>
</Section>
  {% endif %}