{% comment %}
<!-- v1.00 _includes/portfolio01.html -->
{% endcomment %}

{% assign title = include.title  %}
{% assign description = include.description %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection  = paginator.posts %}
{% endunless %}
{% unless collection %}
{% assign collection = site.[page.type] %}
{% endunless %}

{% assign limit  = include.limit %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign options = include.hidden | split:"," %}
{% unless options %}
{% assign options = "complete" %}
{% endunless %}

{% case include.columns %}
{% when 1 %}
    {% assign class = "col-lg-12 mb-4" %}
{% when 2 %}
    {% assign class = "col-lg-6 mb-4" %}
{% when 3 %}
    {% assign class = "col-lg-4 col-sm-6 mb-4" %}
{% when 4 %}
    {% assign class = "col-lg-3 col-md-4 col-sm-6 mb-4" %}
{% when 5 %}
    {% assign class = "col-lg-3 col-md-4 col-sm-6 mb-4 col-lg-offset-1" %}
{% when 6 %}
    {% assign class = "col-lg-2 col-md-4 col-sm-6 mb-4" %}
{% else %}
    {% assign class = "col-lg-6 mb-4" %}
{% endcase %}

{% assign section = include.section %}
{% assign container = include.container %}


<section id="portfolio01" class="{{ theme.bg.primary }} {{ theme.text.primary }} {{ section }}">
    {% if container %}<div id="container" class="{{ container }}">{% endif %}
         {% if title %}<h3 class="text-center p-3 {{ theme.title }}">{{ title }}</h3>{% endif %}
    {% if description %}<p class="text-justify mx-auto p-3 {{ theme.description }}">{{ description }}</p>{% endif %}
    <div class="row">
        {% for post in collection limit: limit %}
            {% unless post.hidden %}
            <div class="{{ class }}">
                <div class="card h-100">
                    {% unless options contains "image" %}<a href="{{ post.url }}"><img class="image-fluid card-img-top " src="{{ post.image.default }}" alt="{{ post.title }}"/>{% endunless %}
                    {% unless options contains "overlay" %}<h5 class="card-img-overlay card-title text-white text-center" style="top: 50%;">{{ post.title }}</h5>{% endunless %}
                    {% unless options contains "image" %}</a>{% endunless %}
                    {% unless options contains "title" -or "subtitle" -or "description" -or "excerpt" -or "button" %}<div class="card-body">{% endunless %}
                    {% unless options contains "title" %}<a href="{{ post.url }}"><h3 class="card-title {{ theme.item.title }}">{{ post.title }}</h3></a>{% endunless %}
                    {% unless options contains "subtitle" %}<h5 class="card-title {{ theme.item.subtitle }}">{{ post.subtitle }}</h5>{% endunless %}
                    {% unless options contains "description" %}<p class="card-text text-justify {{ theme.item.description }}">{{ post.description }}</p>{% endunless %}
                    {% unless options contains "excerpt" %}<p class="card-text text-justify font-weight-lighter {{ theme.item.excerpt] }}">{{ post.excerpt }}</p>{% endunless %}
                    {% unless options contains "button" %}<a class="{{ theme.item.btn }}" href="{{ post.url }}">visit {{ post.collection }}</a>{% endunless %}
                    {% unless options contains "title" -or "subtitle" -or "description" -or "excerpt" -or "button" %}</div>{% endunless %}
                </div>
            </div>
            {% endunless %}
        {% endfor %}
    </div>

    {% if paginator %}{% include paginator01.html %}{% endif %}

    {% if container %}</div>{% endif %}
</section>

