{% comment %}
<!--
    v1.00 _includes/related.html
    
# Documentation -  Add to documentation
    
    include related.html  title = [string] (optional)
                          subtitle = [string] (optional)
                          collection = [object] (default site.posts)
                          limit = [integer] (default 4)
                          theme = [string] (default site.data.theme.portfolio.default)
                          
-->
{% endcomment %}

{% assign title = include.title  %}
{% assign subtitle = include.subtitle %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection = site.posts %}
{% endunless %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign limit       =  include.limit %}
{% unless limit %}
{% assign limit       =  4 %}
{% endunless %}

{% assign section = include.section %}
{% assign container = include.container %}


<section id="related" class="{{ theme.bg.primary }} {{ theme.text.primary }} {{ section }}">
  {% if container %}<div id="container" class="{{ container }}">{% endif %}
  <h3 class="my-4 {{ theme.title }}">{{ title }} <small class = "{{ theme.subtitle }}" >{{ subtitle }}</small></h3>
  <div class="row">
    {% for item in collection limit: {{limit}} %}
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="{{ item.url}}" class='text-reset text-decoration-none'>
        <img class="{{theme.item.image }}" src="{{ item.image.horizontal }}" alt="" />
        <h4 class="{{theme.item.title }}">{{ item.title }}</h4>
      </a>
    </div>
    {% endfor %}
  </div>
  {% if container %}</div>{% endif %}
</section>
