{% comment %}
<!--
    v1.00 _includes/sponsor.html

# DOCUMENTATION Add documentation

    include social.html     collection = [object] (default site.data.sponsor.default)
                            theme = [string] (default site.data.theme.social.default)
  
-->
{% endcomment %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection = site.data.sponsor.default %}
{% endunless %}

{% assign theme = site.data.theme.sponsor.[include.theme] %}
{% unless theme %}
{% assign theme = site.data.theme.sponsor.default %}
{% endunless %}

<section id="sponsor" class="{{ theme.class.section }}" {% if theme.style.section %}style="{{ theme.style.section }}"{% endif %}>
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ collection.image }}" class="{{ theme.class.image }}">
        </div>
        <div class="col-lg-8">
            <h4 class="{{ theme.class.sponsor }}">Sponsored by:</h4>
            <h4 class="{{ theme.class.title }}"><a href="{{ collection.url }}"> {{ collection.title }}</a></h4>
            <h5 class="{{ theme.class.subtitle }}">{{ collection.subtitle }}</h5>
            <p class="{{ theme.class.description }}">{{ collection.description }}</p>
        </div>
    </div>
</section>