{% comment %}
<!-- v1.00 _includes/sponsor01.html -->
{% endcomment %}

{% assign collection = include.collection %}
{% unless collection %}
{% assign collection = site.data.sponsor.[page.brand] %}
{% endunless %}
{% unless collection %}
{% assign collection = site.data.sponsor.brand1 %}
{% endunless %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign section = include.section %}
{% assign container = include.container %}

<section id="sponsor01" class = "{{ theme.bg.primary }} {{ theme.text.primary }} {{ section }}">
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ collection.image }}" class="img-fluid img-thumbnail float-right" >
        </div>
        <div class="col-lg-8">
            <h3 >Sponsored by:</h3>
            <h4 class="text-decoration-none"><a href="{{ collection.url }}"> {{ collection.title }}</a></h4>
            <h5 >{{ collection.subtitle }}</h5>
            <p class="text-muted">{{ collection.description }}</p>
        </div>
    </div>
</section>
