{% comment %}
<!--
  ALPHA v1.2.121 _includes/feature04.html

    schema [string]

    title [string]
    subtitle [string]
    heading [string]
    excerpt [string]

include title schema = "dark"
              subtitle = "subtitle"

include title schema = "dark"
                   subtitle = site.data.dataset.title.dataset2.subtitle

VNEXT BUG include title  heading = site.data.dataset.title[include.dataset]heading                   BUG include title  heading = site.data.dataset.title[include.dataset]heading
VNEXT BUG WORKAROUND need to assign subtitle before attempting to use it
assign subtitle = site.data.dataset.title[page.dataset].subtitle 
include title.html schema = "image" subtitle = subtitle 
VNEXT TODO https://shopify.github.io/liquid/filters/default/ DEFAULT VALUES
VNEXT TODO https://shopify.github.io/liquid/basics/types/ EMPTYDROP see 35
-->
{% endcomment %}

{% assign schema = include.schema %}
{% unless schema %}
{% assign schema = page.schema %}
{% endunless %}
{% assign schema = site.data.schema.title[schema] %}

{% assign count = count | plus: 1 %}
<div name="title-{{count}}" class = "{{ schema.div }} {{ schema.background }} {{ schema.text }}">
{% unless include.pagetitle == empty %}<h1 class = "{{ schema.pagetitle }}">{{ include.pagetitle }}</h1>{% endunless %}
{% if include.title %}<h2 class = "{{ schema.title }}">{{ include.title }}</h2>{% endif %}
{% if include.subtitle %}<h3 class = "{{ schema.subtitle }}">{{ include.subtitle }}</h3>{% endif %}
{% if include.heading %}<p class = "{{ schema.heading }}">{{ include.heading }}</p>{% endif %}
{% if include.excerpt %}<p class = "{{ schema.excerpt }}">{{ include.excerpt }}</p>{% endif %}
</div>