{% comment %}
<!--
 v1.2.121 _includes/title.html

  datasource = [collection] 
  datasource = [dataset] 
  pagetitle = [string]
  subtitle = [string]
  heading = [string]
  excerpt = [string]
   
  schema = [string]

  TODO? need to check the logic below 
-->
{% endcomment %}

{% assign name = "_includes/title.html " %}
{% assign schema = site.data.schema.title[include.schema] | default: site.data.schema.title[page.schema] %}
{% assign dataset = include.datasource | default: site.data[page.brand]brand %}
{% assign count = count | plus: 1 %}

{% assign title = include.title | default: dataset.title %}
{% assign subtitle = include.subtitle | default: dataset.subtitle %}
{% assign heading = include.heading | default: dataset.heading %}
{% assign description = include.description | default: dataset.excerpt %}
{% unless title or subtitle or heading or excerpt %}{% include error.html error = name %}{%endunless %}

{% if dataset %}
<div name="title-{{count}}" class = "{{ schema.div }} {{ schema.background }} {{ schema.text }}">
{% unless include.pagetitle == empty %}<h1 class = "{{ schema.pagetitle }}">{{ include.pagetitle }}</h1>{% endunless %}
{% if include.title %}<h2 class = "{{ schema.title }}">{{ include.title }}</h2>{% endif %}
{% if include.subtitle %}<h3 class = "{{ schema.subtitle }}">{{ include.subtitle }}</h3>{% endif %}
{% if include.heading %}<p class = "{{ schema.heading }}">{{ include.heading }}</p>{% endif %}
{% if include.description %}<p class = "{{ schema.excerpt }}">{{ include.description }}</p>{% endif %}
</div>
{% endif %}
