{% comment %}
<!--
    v1.00 _includes/video-ignite.html 
    
# TESTING pre-release testing
# DOCUMENTATION Add documentation
    
    include video-ignite.html   id = [string]
                                width = [integer] (default 640)
                                height = [integer] (default 480)
                                
-->
{% endcomment %}

{% assign id = include.id %}

{% assign width = include.width %}
{% unless width %}
{% assign width = "640" %}
{% endunless %}

{% assign height = include.height %}
{% unless height %}
{% assign height = "480" %}
{% endunless %}

{% if include.id %}
<iframe ng-if="ctrl.showVideo" width="{{ width }}" height="{{ height }}" ng-src="https://medius.studios.ms/Embed/Video-nc/{{id}}?referrer=MyIgnite-%2Fsessions%2F80462" frameborder="0" allowfullscreen="" ng-i18next="__once__[aria-label:i18next]({title: &quot;Getting hands-on managing Microsoft Teams&quot;}) translate.live-stream.labels.live-stream-for" aria-label="Live stream for Getting hands-on managing Microsoft Teams" src="https://medius.studios.ms/Embed/Video-nc/{{id}}?referrer=MyIgnite-%2Fsessions%2F80462"></iframe>
{% endif %}