{% comment %}
<!-- v1.00 _includes/video-ignite.html -->
{% endcomment %}

{% assign id = include.id %}

{% assign width = include.width %}
{% unless width %}
{% assign width = "640" %}
{% endunless %}

{% assign height = include.height %}
{% unless height %}
{% assign height = "480" %}
{% endunless %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign section = include.section %}
{% assign container = include.container %}

{% if include.id %}
<iframe ng-if="ctrl.showVideo" width="{{ width }}" height="{{ height }}" ng-src="https://medius.studios.ms/Embed/Video-nc/{{id}}?referrer=MyIgnite-%2Fsessions%2F80462" frameborder="0" allowfullscreen="" ng-i18next="__once__[aria-label:i18next]({title: &quot;Getting hands-on managing Microsoft Teams&quot;}) translate.live-stream.labels.live-stream-for" aria-label="Live stream for Getting hands-on managing Microsoft Teams" src="https://medius.studios.ms/Embed/Video-nc/{{id}}?referrer=MyIgnite-%2Fsessions%2F80462"></iframe>
{% endif %}