{% comment %}
<!-- v1.00 _includes/video-ignite.html -->
{% endcomment %}

{% assign id = include.id %}

{% assign width = include.width %}
{% unless width %}
{% assign width = "640" %}
{% endunless %}

{% assign height = include.height %}
{% unless height %}
{% assign height = "480" %}
{% endunless %}

{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = site.data[page.theme].light %}
{% endunless %}

{% assign section = include.section %}
{% assign container = include.container %}

{% if include.id %}
<iframe src="https://player.vimeo.com/video/{{ id }}" width="{{ width }}" height="{{ height }}" frameborder="0"
    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endif %}