{% comment %}
<!-- v1.00 _layouts/default.html -->
{% endcomment %}

{% assign brand = page.brand %}
{% unless brand %}
{% assign brand = "brand1" %}
{% endunless %}

{% assign theme = site.data[page.theme] %}
{% unless theme %}
{% assign theme = site.data.theme1 %}
{% endunless %}

{% assign layout = themes.layout[page.layout] %}
{% unless layout %}
{% assign layout = themes.layout.page %}
{% endunless %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }} {{ site.separator }} {{ site.title }}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/{{ brand }}.css"/>
    
   {{ seo }}
</head>

<body class="{{ layout.body }}">
    <script src="https://kit.fontawesome.com/6cfde2c000.js" crossorigin="anonymous"></script>  
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js" crossorigin="anonymous"></script>
    {% if page.navbar %}
    {% include navbar02.html theme = themes.dark %}
    {% endif %}
    {% if page.carousel %}
    {% include carousel.html %}
    {% endif %}
    {% if page.breadcrumb %}
    {% include breadcrumb.html theme = themes.dark %}
    {% endif %}

    
<!-- layout where from ? -->

find
{{ layout }}

    <section id="{{page.layout}}" {% if layout.section %}class = "{{ layout.section }}"{% endif %}>
        {% if layout.container %}gfdsfd<div id="container" class="{{ layout.container }}">{% endif %}
            {{ content }}
        {% if layout.container %}</div>{% endif %}
    </section>
    {% if page.footer %}
    {% include footer02.html theme = themes.dark %}
    {% endif %}
    {% comment %}
    <!-- JavaScript Bundle with Popper -->
    {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    {% if page.mermaid %}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({ startOnLoad: true });</script>
    {% endif %}
</body>
</html>
