---
layout: default
---
{% comment %}
<!-- v1.00 _layouts/docs.html -->
{% endcomment %}

{% assign themes = site.data[page.theme] %}
{% unless themes %}
{% assign themes = site.data.theme1 %}
{% endunless %}

<div class="row p-3">
	<div id="content" class="col-sm-8" >

		{% include spacer.html  theme = themes.transparent section = "p-5" %}

		{{ content }}

		<style>
			ul.pager { text-align: center; list-style: none; }
			ul.pager li {display: inline; border: 1px solid black; padding: 10px; margin: 5px;}
			.selected { background-color: black; text-color: white }
		</style>

		<div>
			{% if paginator.previous_section %}
				{% assign prev = paginator.previous_section %}
				{% if prev == "Untitled" %}
					{% assign prev = "Previous"%}
				{% endif %}
				&laquo; <a href="{{ paginator.previous_path }}">{{ prev }}</a>
			{% endif %}
			{% if paginator.previous_section and paginator.next_section %} | {% endif %}
			{% if paginator.next_section %}
				{% assign next = paginator.next_section %}
				{% if next == "Untitled" %}
					{% assign next = "Next"%}
				{% endif %}
				<a href="{{ paginator.next_path }}">{{ next }}</a> &raquo;
			{% endif %}
		</div>

		{% if paginator.page_trail %}
			<ul class="pager">
				{% for trail in paginator.page_trail %}
					<li {% if page.url == trail.path %}class="selected"{% endif %}>
						<a href="{{ trail.path }}" title="{{ trail.title }}">{{ trail.num }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}

	</div>

	
	<div id="sidebar" class="col-sm-4">

		{% include spacer.html  theme = themes.transparent
									section = "p-5" %}
			
		{% if paginator.paginated %}
			<a href="{{ paginator.single_page }}" class = "btn btn-dark" role="button" >View as a single page</a>
		{% elsif paginator %}
			<a href="{{ paginator.first_path }}" class = "btn btn-dark" role="button" >View as {{ paginator.total_pages }} pages</a>
		{% endif %}
	
		{% include spacer.html  theme = themes.transparent
								section = "p-2" %}

		{% unless paginator.paginated %}
			{% if paginator.toc.simple %}
				{{ paginator.toc.simple | markdownify }}
			{% endif %}
		{% endunless %}


		{% if paginator.paginated and paginator.toc.simple %}
			{{ paginator.toc.simple | markdownify }}
		{% endif %}

	</div>

</div>