---
layout: default
---
{% comment %}
<!-- v1.00 _layouts/videos.html -->
{% endcomment %}

{% assign themes = site.data[page.theme] %}
{% unless themes %}
{% assign themes = site.data.theme1 %}
{% endunless %}


    <div class="row">
        <div id="content"  class="col-md-8">
            {% case page.video-provider %}
            {% when "youtube" %}
            {% include video-youtube.html id = page.video-id  %}
            {% when "ignite" %}
            {% include video-ignite.html id = page.video-id  %}
            {% when "vimeo" 5 %}
            {% include video-vimeo.html id = page.video-id  %}
            {% endcase %}
        </div>
        <div id="sidebar"  class="col-md-4">
            <h3 class="my-3">{{ page.title }}</h3>
            <p>{{ page.description }}</p>
            <h3 class="my-3">Details</h3>
            <p><b>Conference:</b> {{ page.conference }}</p>
            <p><b>Year:</b> {{ page.year }}</p>
            <p><b>Speaker(s):</b> {{ page.speaker }}</p>
        </div>
    </div>
    {{ content }}

    {% include paginator01.html %}
