---
layout: default
---
{% comment %}
<!--

	v1.00 _layouts/wizards.html
	
# TESTING pre-release testing
# DOCUMENTATION Add documentation

-->
{% endcomment %}

<section id="wizards" class="{{ site.data.theme.wizards.default.class }}" style="{{ site.data.theme.wizards.default.style }}">
	<div class="container">
		{% if page.heading %}{% include heading.html %}{% endif %}
		<div class="row">
			<div class="col-sm-8" id="main">
				{{ content }}
			</div>
			<div class="col-sm-4" id="sidebar">
				{% include toc.html html=content class="list-group sticky-top" item_class="list-group-item  list-group-item-action" h_min=2 h_max=2 sanitize=true %}
			</div>
		</div>
	</div>
</section>