{% assign theme         =  include.theme %}
{% assign title         =  include.title %}
{% assign url           =  include.url %}
{% assign button        =  include.button %}

{% unless theme %}
{% include alert.html message = "missing theme param" 
                              theme = site.data.theme.alert.warning 
                              %}
{% assign theme = site.data.theme.calltoaction.default %}
{% endunless %}

{% if message and button %}
<section id = "call to action" class="{{ theme.class.section }}">
    <div class = "{{ theme.class.div }}">
        <p class="{{ theme.class.heading }}">{{ title }}</p>
        <a class="{{ theme.class.button }}" href="{{url}}" role="button">{{button}}</a>
    </div>
</section>
{% endif %}