{% assign footer = site.data.footer.[page.footer] %}
{% if footer %}
<footer id="footer" class = "{{ site.data.theme.layout.default.footer.class }}" style = "{{ site.data.theme.layout.default.footer.style }}" >
        <div class = "{{ site.data.theme.layout.default.footer.container }}">
            {% if footer.url %}<a href="{{ footer.url }}"  class = 'text-reset text-decoration-none' >{% endif %}
            {% if footer.title or footer.icon %}<span>{% endif %}
            {% if footer.icon %}{% include icon.html icon = footer.icon %}{% endif %}
            {% if footer.title %}{{ footer.title }}{% endif %}
            {% if footer.title or footer.icon %}</span>{% endif %}
            {% if footer.url %}</a>{% endif %}
            {% for item in footer.navigation %}  
                    <a href = '{{ item.url }}' class = 'text-reset text-decoration-none' >{{ item.title }}</a>
            {% endfor %}
            {% if site.data.status.netlify %}<img src="https://api.netlify.com/api/v1/badges/{{ site.data.status.netlify }}/deploy-status"/>{% endif %}
            {% if site.data.status.status %}{% for status in site.data.status.status %}<img src="https://img.shields.io/badge/{{ status.subject }}-{{ status.status }}-{{ status.colour }}.svg"/>{% endfor %}{% endif %}
        </div>
    </footer>
{% endif %}