{% if include.id %}
{% assign id = include.id %}
{% endif %}
{% if include.width %}
{% assign width = include.width %}
{% else %}
{% assign width = "640" %}
{% endif %}
{% if include.height %}
{% assign height = include.height %}
{% else %}
{% assign height = "480" %}
{% endif %}
{% if id %}
<iframe ng-if="ctrl.showVideo" width="{{ width }}" height="{{ height }}" ng-src="https://medius.studios.ms/Embed/Video-nc/{{id}}?referrer=MyIgnite-%2Fsessions%2F80462" frameborder="0" allowfullscreen="" ng-i18next="__once__[aria-label:i18next]({title: &quot;Getting hands-on managing Microsoft Teams&quot;}) translate.live-stream.labels.live-stream-for" aria-label="Live stream for Getting hands-on managing Microsoft Teams" src="https://medius.studios.ms/Embed/Video-nc/{{id}}?referrer=MyIgnite-%2Fsessions%2F80462"></iframe>
{% endif %}