{% assign images = site.data.images.[include.images] %}
{% unless images %}
{% include alert.html %}
{% endunless %}

{% if images %}
<Section id = "images" class = "container-fluid">
    <div class="row">
        {% for image in images %}
           <div class="col-md-2 col-sm-6">
                <div class="card bg-dark">
                    {% if image.url %} <a href="{{ image.url }}">{% endif %}
                    <img class="card-img" src="{{ image.image }}" alt = "{{ image.excerpt }}" title = "{{ image.title }}">
                    <div class="card-img-overlay text-center text-white" style="padding:5;">
                        <h5 class="card-title text-white">{{image.title}}</h5>
                    </div>
                    {% if image.url %}</a>{% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
</Section>
{% endif %}