{% if include.collection %}
{% assign collections = site.collections | where: "label", include.collection %}
{% elsif page.collection %}
{% assign collections = site.collections | where: "label", page.collection %}
{% else %}
{% assign collections = site.collections %}
{% endif %}
{% comment %}TODO:  make this so an array can be parsed ie [code,documents]{% endcomment %}
<div id = "list">
    {% for collection in collections %}
        <h2>{{ collection.label }}</h2>
        {% for post in collection.docs %}
            <p><a href = "{{ post.url }}">{{post.title}}</a></p>
        {% endfor %}
    {% endfor %}
</div>
