{% assign type = include.type }
{% assign title = include.title  %}
{% assign description = include.description %}
{% assign collection = include.collection | where_exp: "item","item.hide != true"  %}
{% assign limit = include.limit  %}
{% assign collection2 = include.collection2 | where_exp: "item","item.hide != true"  %}
{% assign limit2 = include.limit2  %}
{% unless type %}
{% assign type = "newsfeed1" %}
{% endunless %}
{% if type == "newsfeed1" %}
<div class="container my-5">
  <section class="magazine-section dark-grey-text">
    <h3 class="text-center font-weight-bold text-black mb-4 pb-2">{{ title }}</h3>
    <p class="text-justify w-responsive text-muted mx-auto mb-5">{{ description }}</p>
    <div class="row">
      {% for post in collection %}
      {% if forloop.first %}
      <div class="col-lg-6 col-md-12 mb-4">
        <div class="">
          <div class="view-overlay rounded z-depth-1-half mb-4">
            <a href="{{ post.url }}"><img class="img-fluid" src="{{ post.image.horizontal }}" alt="Sample image"></a>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <a href="{{ post.url }}">
            <h3 class="font-weight-bold dark-grey-text mb-3">{{ post.title }}</h3>
          </a>
          <p class="text-justify dark-grey-text">{{post.description}}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <!--SECOND-->
      <div class="col-lg-6 col-md-12 mb-4">
        <div class=" mb-4">
          <div class="row">
            {% for post in collection offset: 1  limit: 7 %}
            <div class="col-md-3">
              <div class="view overlay rounded z-depth-1 mb-4">
                <a href="{{ post.url }}">
                  <img class="img-fluid" src="{{ post.image.horizontal }}" alt="{{ post.subtitle }}">
                </a>
              </div>
            </div>
            <div class="col-md-9">
              <a href="{{ post.url }}">
                <p class="font-weight-bold text-black-50">{{ post.title }}</p>
              </a>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <a href="{{ post.url }}" class="text-dark">{{post.description}}</a>
                </div>
                <a><i class="fas fa-angle-double-right"></i></a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endif %}
{% if type == "newsfeed2" %}
<div class="container my-5">
  <section class="{{ theme.class.section }}">
    <h3 class="text-center font-weight-bold mb-4 pb-2">{{ title }}</h3>
    <p class="text-justify w-responsive mx-auto mb-5">{{ description }}</p>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        {% for post in collection limit: limit %}
        {% if forloop.first %}
        <div class="mb-4">
          <div class="z-depth-1-half mb-4">
            <img class="img-fluid img-thumbnail" src="{{ post.image.horizontal }}" alt="{{ post.excerpt }}">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <h3 class="font-weight-bold dark-grey-text mb-3"><a>{{ post.title }}</a></h3>
          <p class="text-justify dark-grey-text">{{ post.description }}</p>
        </div>
        {% else %}
        <div class=" mb-4">
          <div class="row">
            <div class="col-md-3">
              <div class="view overlay rounded z-depth-1 mb-4">
                <img class="img-fluid img-thumbnail" src="{{ post.image.horizontal }}" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>
            <div class="col-md-9">
              <p class="font-weight-bold dark-grey-text">{{ post.title }}</p>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <a href="#!" class="dark-grey-text">{{ post.excerpt }}</a>
                </div>
                <a><i class="fas fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <!--column2-->
      <div class="col-lg-6 col-md-12">
        <div class="mb-4">
          {% for post in collection2 limit: limit2 %}
          {% if forloop.first %}
          <div class="view overlay rounded z-depth-1-half mb-4">
            <img class="img-fluid img-thumbnail" src="{{ post.image.horizontal }}" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <h3 class="font-weight-bold dark-grey-text mb-3"><a>{{ post.title }}</a></h3>
          <p class="text-justify dark-grey-text">{{ post.description }}</p>
        </div>
        {% else %}
        <div class="mb-4">
          <div class="row">
            <div class="col-md-3">
              <div class="view overlay rounded z-depth-1 mb-4">
                <img class="img-fluid img-thumbnail" src="{{ post.image.horizontal }}" alt="{{ post.excerpt }}">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>
            <div class="col-md-9">
              <p class="font-weight-bold dark-grey-text">{{ post.title }}</p>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <a href="#!" class="dark-grey-text">{{ post.excerpt }}</a>
                </div>
                <a><i class="fas fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endif %}