{% if page.collection %}
{% assign collection = site.[page.collection] %}
{% endif %}
{% if include.collection %}
{% assign collection = site[include.collection] %}
{% endif %}
<div id = "related">
    <h3 class="my-4"  >{{ include.title }} <small>{{ include.subtitle }}</small></h3>
    <div class="row">
      {% for post in collection limit:4 %}
      <div class="col-md-3 col-sm-6 mb-4">
          <a href = "{{ post.url}}" class = 'text-reset text-decoration-none'>
          <img class="img-fluid" src="{{ post.image.horizontal }}" alt=""/>
          <h4 >{{ post.title }}</h4>
          </a>
      </div>
      {% endfor %}
    </div>
</div>