{% if page.id %}
{% assign id = page.id %}
{% endif %}
{% if include.id %}
{% assign id = include.id %}
{% endif %}
{% if include.width %}
{% assign width = include.width %}
{% else %}
{% assign width = "640" %}
{% endif %}
{% if include.height %}
{% assign height = include.height %}
{% else %}
{% assign height = "480" %}
{% endif %}
{% if id %}
<iframe src="https://player.vimeo.com/video/{{ id }}" width="{{ width }}" height="{{ height }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endif %}